$main-color: white;

#main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;

  #header, aside, canvas {
    border: 5px ridge $main-color;
  }

  #header {
    width: 660px;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    height: auto;

    .project-title {
      font-size: 80px;
      font-family: "Bangers", sans-serif;
    }

    .dev-name {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      margin-bottom: 10px;
    }

    .nav-links {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        margin: 0 10px 0 10px;

        i {
          color: $main-color;
          font-size: 40px;
        }
      }
    }
  }

  aside {
    width: 190px;
    padding: 5px;
    font-family: "Oswald", sans-serif;
  }

  canvas {
    width: 700px;
    height: 550px;
    margin: 0 10px 0 10px;
  }

  canvas:hover {
    cursor: none;
  }

  #game-instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    font-size: 25px;

    .instructions-container {
      display: flex;
      flex-wrap: wrap;
      height: 100px;
      margin-bottom: 20px;

      .keys-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .arrow-icons {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 75px;
        }

        .spacebar {
          border: 3px solid $main-color;
          padding-bottom: 6px;
          width: 100px;
          text-align: center;
          font-size: 20px;
          margin: 18px 5px 0 5px;
        }
      }

      .keys-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .shoot-text {
          padding-top: 20px;
        }
      }
    }

    ul {
      margin-left: 5px;
      li {
        margin: 20px 0 20px 0;
        font-size: 20px;
      }
    }
  }

  #game-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;

    #player-health {
      margin-bottom: 30px;

      p {
        margin: 10px 0;
      }

      #player-health-bar {
        display: flex;
        align-content: flex-start;

        .player-health-point {
          width: 10px;
          height: 20px;
          background: $main-color;
          border: 3px ridge grey;
          animation: fadeIn 1s linear;
        }
        
        @keyframes fadeIn {
          0% {
            opacity:0
          }
          100% {
            opacity:1;
          }
        }
      }
    }

    #boss-info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      p {
        margin: 10px 0;
      }

      #boss-health-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;

        .boss-health-point {
          width: 30px;
          height: 20px;
          background: gray;
          border: 3px ridge $main-color;
          animation: fadeIn 1s linear;
        }
        
        @keyframes fadeIn {
          0% {
            opacity:0
          }
          100% {
            opacity:1;
          }
        }
      }
    }

    #wave-info {
      display: flex;
      align-items: center;

      .wave-text p {
        margin: 5px 0;
      }

      .wave-numbers {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
        margin-top: 4px;
        span:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }
}