@media screen and (max-width: 1250px) {
  .main-container {
    .header {
      order: 1;
      padding: 10px;
      width: 680px;

      .project-title {
        font-size: 35px;
      }

      .dev-name {
        font-size: 18px;
      }

      .nav-links {
        a {
          margin: 0 10px 0 10px;
          i {
            font-size: 25px;
          }
        }
      }
    }

    aside {
      flex-basis: 690px;
      height: auto;
      min-height: 75px;
    }

    .game-instructions {
      order: 2;
      margin-bottom: 10px;
      height: auto;
      justify-content: center;
      align-items: center;

      .instructions-container {
        order: 2;
        margin-bottom: 5px;
        flex-basis: 100%;
        justify-content: center;
        row-gap: 10px;
        flex-wrap: wrap-reverse;

        .settings-container {
          flex-direction: row;
          justify-content: start;
          flex-wrap: wrap;
          column-gap: 15px;
  
          .keys-container{
            flex-basis: 30%;

            .keys-icon {
              flex-basis: 0;
              margin-right: 15px;
            }
          }
  
          .keys-container:last-of-type {
            margin: 5px 0 0 0;
          }
        }

        .keys-container {
          flex-basis: 30%;
          justify-content: center;
          margin-bottom: 0;

          #sound-icons-container, 
          #touch-icons-container, 
          #pause-icons-container {
            margin-right: 0;
          }

          .keys-icon {
            flex-basis: auto;
          }

          .keys-text {
            font-size: 20px;
          }

          .keys-text, .keys-text-container {
            flex-basis: unset;
          }

          .keys-text-container {
            gap: 5px;

            #sound-text {
              width: 65px;
            }

            #pause-text {
              width: 50px;
            }

            #touch-text {
              width: 45px;
              margin-right: 10px;
            }

            .keys-text:first-of-type {
              flex-basis: unset;
            }

            .keys-text:last-of-type {
              flex-basis: unset;
            }
          }
        }
      }

      ul {
        order: 1;
        margin-bottom: 10px;
        li {
          margin: 5px 0 5px 0;
        }
      }
    }

    #game-view {
      order: 4;
      margin: 10px 0 10px 0;
    }

    .game-information {
      order: 3;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
      // height: 50px;
      padding-top: 0;
      font-size: 20px;

      .score-container {
        // margin-right: 30px;
        // margin-top: 30px;
        // min-width: 100px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start; 

        p {
          margin-bottom: 10px;
        }

        #score {
          min-height: 14px;
        }
      }
  
      .player-health {
        // margin-right: 30px;
        margin-bottom: 10px;
        text-align: start;
        width: 150px;

        #player-health-bar{
          min-height: 15px;

          .player-health-point {
            height: 15px;
          }
        }
      }

      #boss-info {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        width: 250px;

        #boss-health-bar{
          flex-direction: row;
          min-height: 15px;

          .boss-health-point {
            height: 15px;
            width: 20px;
          }
        }
      }
  
      #wave-info {
        display: flex;
        align-items: center;
      }
    }
  }
}