@media screen and (max-width: 736px) {
  .main-container {

    .game-instructions {
      .instructions-container {
        .keys-container {
          flex-basis: 45%;

          .keys-icon {
            margin-right: 5px;
          }
        }
      }

      ul {
        li {
          font-size: 18px;
        }
      }
    }

    #game-view {
      width: calc(100% - 10px);
      height: auto;
    }

    .game-information {
      flex-wrap: wrap;
      font-size: 20px;
      column-gap: 20px;

      .score-container {
        #score {
          min-height: 21px;
        }
      }

      .player-health {
        width: 135px;

        #player-health-bar{
          min-height: 21px;

          .player-health-point {
            height: 15px;
            width: 8px;
          }
        }
      }

      #boss-info {
        width: 210px;

        #boss-health-bar{
          min-height: 21px;

          .boss-health-point {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
}