@media screen and (max-width: 480px) {
  .main-container {
    .header {
      .project-title {
        font-size: 30px;
      }

      .dev-name {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .nav-links {
        a {
          margin: 0 5px;
          
          i {
            font-size: 16px;
          }
        }
      }
    }

    .game-instructions {
      .instructions-container {
        column-gap: 10px;
        
        .settings-container {
          column-gap: 10px;
          
          .keys-container > .keys-icon {
            margin-right: 0;
          }

          .keys-container:nth-of-type(2) > .keys-icon {
            margin-right: 0;
          }
        }

        .keys-container {
          .keys-icon {
            font-size: 19px;

            .arrow-icons {
              justify-content: center;
              align-items: center;
              width: 58px;
              height: 38px;

              i:nth-of-type(3) {
                margin: 0 2px;
              }
            }

            .keyboard-key {
              font-size: 9px;
              width: 14px;
              height: 14px;
              border-width: 2px;
            }

            .keyboard-key:nth-of-type(4) {
              margin: 0 2px;
            }

            .spacebar {
              width: 40px;
              height: 15px;
              font-size: 10px;
              padding-bottom: 1px;
              border-width: 2px;
            }

            .mouse-click {
              width: 20px;
            }
          }

          .keys-text {
            font-size: 14px;
          }

          .keys-text-container {
            #sound-text {
              width: 50px;
            }

            #touch-text {
              width: 38px;
            }

            #pause-text {
              width: 34px;
            }
          }

          #sound-icons-container {
            width: 26px;

            .sound-icon {
              font-size: 22px;
            }
          }

          #touch-icons-container .touch-icon,
          #pause-icons-container .pause-icon {
            font-size: 16px;
          }

          #touch-icons-container,
          #pause-icons-container {
            width: 15px;
          }
        }
      }

      ul > li {
        font-size: 14px;
      }
    }

    .game-information {
      font-size: 14px;
      column-gap: 10px;

      .score-container {
        gap: 5px;

        #score {
          min-height: 16px;
          min-width: 60px;
        }
      }

      .player-health {
        gap: 5px;

        #player-health-bar{
          width: 100px;
          min-height: 16px;

          .player-health-point {
            height: 10px;
            width: 5px;
          }
        }
      }

      #boss-info {
        gap: 5px;

        #boss-health-bar{
          width: 150px;
          min-height: 16px;

          .boss-health-point {
            height: 10px;
            width: 10px;
          }
        }
      }

      #wave-info {
        .wave-text, .wave-numbers {
          gap: 5px;
        }
      }
    }
  }
}