@import "./styles/css-reset.scss";

$color: white;

.break {
  flex-basis: 100%;
}

#main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;

  #header, aside, canvas {
    border: 3px solid $color;
  }

  #header {
    width: 660px;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    height: auto;

    .project-title {
      font-size: 80px;
      margin-bottom: 10px;
      font-family: "Bangers", sans-serif;
    }

    .dev-name {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
    }

    .nav-links {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        margin: 0 10px 0 10px;

        i {
          color: $color;
          font-size: 40px;
        }
      }
    }
  }

  aside {
    width: 190px;
    padding: 5px;
    font-family: "Oswald", sans-serif;
  }

  canvas {
    width: 700px;
    height: 550px;
  }

  #game-instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    font-size: 25px;

    .movement-instructions {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .arrow-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
      }
    }

    .shooting-instructions {
      margin-top: 30px;
      display: flex;
      align-items: center;
      align-content: space-around;

      .spacebar {
        border: 3px solid white;
        padding-bottom: 6px;
        width: 100px;
        text-align: center;
        font-size: 20px;
        margin: 0 5px 0 5px;
      }
    }

    ul {
      margin-left: 5px;
      li {
        margin: 20px 0 20px 0;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  #main-container {
    #header {
      padding: 10px;
      width: 680px;

      h1 {
        font-size: 40px;
        margin-bottom: 10px;
      }

      .nav-links {
        a {
          margin: 0 10px 0 10px;
          i {
            font-size: 30px;
          }
        }
      }
    }

    aside {
      flex-basis: 700px;
      padding: 10px 0 10px 0;
      height: auto;
      min-height: 75px;
    }

    #game-instructions {
      .movement-instructions {
        margin-top: 10px;
      }
    }

    canvas {
      margin: 10px 0 10px 0;
    }
  }
}