@import "./styles/css-reset.scss";
@import "./styles/main-container.scss";
@import "./styles/media-1200px.scss";

.break {
  flex-basis: 100%;
}

body {
  background-image: url(../src/assets/body_backgrounds.png);
  background-repeat: repeat;
}